%table.table.table-striped
  %tbody
    - movies.includes(comments: :user).each_with_index do |movie, i|
      %tr
        %td.row
          .col-xs-12.col-sm-3
            %img.img-responsive.img-rounded{ src: movie.poster }
          .col-xs-12.col-sm-9
            %h4
              = link_to movie.title, movie_path(movie)
              %span.pull-right
                = i + 1
            = render 'shared/movie/rating', rating: movie.rating
            %p
              %strong
                = link_to movie.genre_name, movies_genre_path(movie.genre)
              = ' (' + movie.released_at.to_s + ')'
            %p
              = movie.plot
            - if current_user.present?
              %div{ id: "create-panel-#{movie.id}-#{current_user.id}" }
                = render "shared/comment/new", movie: movie, user: current_user
            - else
              = link_to 'Login', new_user_session_path
              or
              = link_to 'Register', new_user_registration_path
              in order to leave a comment
            %div.panel.panel-default{ id: "comment-panel-#{movie.id}-#{current_user&.id}" }
              - movie.comments.each do |comment|
                - if current_user.present? && comment.user_id == current_user.id
                  = render "shared/comment/destroy", comment: comment
                = render "shared/comment/show", comment: comment
